container_commands:
  00_copy_env_file:
    command: "aws s3 cp s3://projlambat-bucket/.env /var/app/staging/.env"
  
  01_install_node_dependencies:
    command: "sudo npm install"
    cwd: "/var/app/staging"

  02_build_node_assets:
    command: "sudo npm run prod"
    cwd: "/var/app/staging"

  03_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true

